:root {
    --header: #263238;
    --body: #455A64;
    --link: #14b8a6;
    --hover: #2dd4bf;
    --active: #99f6e4;
}

body {
    background-color: var(--body);
    font-family: sans-serif;
}
/** utility classes **/
.sr-only {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

/** header styles **/

header {
    background-color: var(--header);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

nav {
    margin: 0 auto;
    max-width: 72rem; /**1152px **/
}

ul {
    margin: 0;
    padding: 0;
}
ul.menu {
    transition: all 0.3s ease-in-out;
}

ul svg {
    width: 1.25rem;
    margin-right: 0.5rem;
}

svg path {
    fill: #26a69a;
}

ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--link);
    text-decoration: none;
    padding: 1rem;
}

/**
    Order for anchor tag pseudo-classes:
    1. link
    2. visited
    3. focus
    4. hover
    5. active    
**/

ul.menu a:focus-within,
ul.menu a:focus svg path,
ul.menu a:hover,
ul.menu a:hover svg path {
    color: #1DE9B6;
    fill: #1DE9B6;
}

ul.menu a:active,
ul.menu a:active svg path {
    color: #A7FFEB;
    fill: #A7FFEB;
}

@media screen and (min-width: 1180px){
    ul.menu {
        display: flex;
        justify-content: space-between;
         transition: all 0.3s ease-in-out;
    }
}